<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/fontawesome/4.7.0/css/font-awesome.min.css">
        <!-- estilo para tarea realizada -->
        <link rel="stylesheet" href="css/estilos.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Listado de tareas</title>
    </head>

    <body>
        <div id="app" class="container jumbotron">
            <!-- titulo de la aplicación -->
            <h2 class="text-center">{{ titulo }}</h2>
            <!-- Formulario agregar tarea -->
            <div class="input-group">
            <input type="text"
                placeholder="Escribe una nueva tarea"
                v-model="nuevaTarea"
                class="form-control"
                v-on:keyup.enter="agregarTarea">
            <span class="input-group-btn">
                <button type="button"
                    v-on:click="agregarTarea"
                    class="btn btn-primary">Agregar</button>
            </span>
        </div>

        <!-- listado de tareas -->
        <div class="pt-2">
            <ul class="list-group">
                <li v-for="(tarea, indice) of tareas" class="list-group-item"
                    v-bind:class="{terminada: tarea.terminada}">
                    {{ tarea.texto}}
                    <span class="pull-right">
                        <button type="button" class="btn btn-success btn-xs"
                                v-on:click="tarea.terminada = !tarea.terminada">
                                <img src="img/correcto.png" alt="" width="20">
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                v-on:click="borrar(indice)">
                                <img src="img/dejar.png" alt="" width="20">
                        </button>
                    </span>
                </li>
            </ul>
        </div>
    
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- referencia vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- js propio -->
        <script src="js/vue.js"></script>
    </body>
</html>